@font-face {
  font-family: 'acid';
  src: url('../fonts/acid.otf');
  src: local('Acid'), local('Acid'),
         url('../fonts/acid.otf') format('opentype');
}
@font-face {
  font-family: 'acidBold';
  src: url('../fonts/acid_bold.otf') format('opentype');
}

@font-face {
	font-family: 'ClumsyRegular';
	src: url('clumsy-webfont.eot');
	src: local('☺'), url('../fonts/clumsy-webfont.woff') format('woff'), url('../fonts/clumsy-webfont.ttf') format('truetype'), url('clumsy-webfont.svg#webfontKGJ2JUnY') format('svg');
	font-weight: normal;
	font-style: normal;
}
html,body { 
	background-color: #222; 
	color: #EDECD8;
	margin:0;
	padding:0;
	height: 100%;
	background: url(../images/back1.jpg) repeat;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #222; text-decoration:none; }
a:visited { color: #222; }
a:hover { color: #222; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#body{
	position:relative;
	margin-top:0;
	height:100%;
}
#leftColumn{
	background:rgba(2,174,192,0.6);
	border-radius:20px;
	margin-top:30px;
}
#leftMenu{
	list-style: none;
	
	
}
#leftMenu li{
	font-family:ClumsyRegular;
	font-size:20px;
	margin: 0px 15px 10px 0;
	position:relative;
	float:left;
	
}
#leftMenu li a{
	color:#EDECD8;
}
#leftMenu li.currentPage a{
	
	text-decoration:underline;
}
#content{
	position:relative;
	margin-top:40px;
}
.photo{
	margin:2px;
	float:left;
	position:relative;
}
.desc{
	overflow-y:auto;
}
.category{
	background-color:#222222;
	float:left;
	position:relative;
	height:150px;
	border:8px solid #EDECD8;
	margin-bottom:5px;
	border-radius:5px;
}
.category a{
	width:100%;
}
.category p{
	margin:5px;
}
.category img{
	width:100%;
}
.category:hover img{

}
.photo img{
	width:100%;
}
.category span, .photo span{
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-khtml-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	background-color:#EDECD8;
	padding:3px 10px 3px 3px;
	color:#222222;
	border-radius:0 10px 10px 0;
	position:absolute;
}
.triangle{
	border-color: transparent #333333 transparent transparent;
	border-style:solid;
	border-width:5px;
	height:0px;
	width:0px;
	position: absolute;
	left: -10px;
	z-index:0;; /* displayed under bubble */
}
.triangle.left{
	bottom: 5px;
	
}
.triangle.right{
	top:29px;
}
.category .leftAlign, .photo .leftAlign{
	left:-5px;
	bottom:10px;
}
.category .rightAlign, .photo .rightAlign{
	left:-5px;
	top:10px;
}
h1{
	display:none;
}
#head{
	
	height:100px;
	padding-top:20px;
	margin-bottom:40px;
	position:relative;
}
#title img{
	height:150px;
}
#title{
	font-size:30px;
	position:absolute;
	top:0;
	left:0;
	margin:0;
}
.blog{
	background-color:#222222;
	float:left;
	position:relative;
	border:-8px solid #EDECD8;
	margin-bottom:5px;
	border-radius:5px;
	width:100%;
}
.blog img{
	width:100%;
}
.blog a{
	color:#EDECD8;
}
#menu{
	list-style: none;
	position:absolute;
	top:0;
	right:0;
	margin:0;
	
}

#menu li a {
	color:#EDECD8;
}
#menu li{

	height:40px;
	line-height:40px;
	font-family:ClumsyRegular;
	font-size:23px;
	float:left;
	margin-right:15px;
	position:relative;
	border-top:8px solid transparent;
}
#menu li:hover{
	border-top:8px solid rgba(237,236,216,0.6);
}
#menu li.currentPage{
	border-top:8px solid #EDECD8;
}

.add{position:absolute;bottom:10px;right:-40px;}
.add img{height:50px;}

#footer{
	padding-top:40px;
	font-size:35px;
	text-align:center;
	font-family:ClumsyRegular;
	margin-top:40px;
	height:150px;
	border-top:10px dashed rgba(237,236,216,0.6);
}
.pdf{
	font-family:ClumsyRegular;
	font-size:23px;
	color:#EDECD8;
}
