body { background-color: #222; color: #CCC; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #CCC; text-decoration:none; }
a:visited { color: #CCC; }
a:hover { color: #CCC; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
.photo{
	margin:2px;
	float:left;
	position:relative;
}
.category{
	margin:2px;
	float:left;
	position:relative;
	height:200px;
	overflow:hidden;
}
.category img{
	height:200px;
}
.category:hover img{

}
.photo img{
	height:100%;
}
.category span, .photo span{
	background-color:#222;
	padding:6px;
	-moz-border-radius:0px 10px  10px 0px;
	border-radius: 0px 10px  10px 0px;
	position:absolute;
}
.category .leftAlign, .photo .leftAlign{
	left:0;
	bottom:10px;
}
.category .rightAlign, .photo .rightAlign{
	left:0;
	top:10px;
}
.currentPage{
	font-size:20px;
}
#head{
	width:100%;
	height:100px;
	border-bottom:1px solid grey;
}
#menu{
	list-style: none;
}
#menu li{
	float:left;
	margin:5px;
}
.thumb{
	height:200px;
}