<h1>Greeting</h1>


<div class="grid_18  alpha"> <p class="later">It's in the oven!</p></div>
<div class="grid_5 links omega">
	<ul>
		<% category=''%>
		<% @links.each do |link| %>
			<%if (category != link.category)%>
			<%if (category != '')%>
			</ul>
			<%end%>
			<%category = link.category%>
			
			
			<li><%=category%></li><ul><li><%=link_to link.name, link.url, :target => 'blank'%></li>
			<%else%>
			
			<li><%=link_to link.name, link.url, :target => 'blank'%></li>
			<%end%>
		<%end%>
		<%-if user_signed_in?-%>
		</ul>
		<li><%= link_to 'add Link', new_link_path %></li>
		<%-end-%>
	</ul>
</div>