<h1>Inspiration</h1>
<p class="later">It's in the oven!</p>
<%-if false-%>
<div class="grid_6 alpha">
	<%= sanitize @col1 %>
</div>
<div class="grid_6  ">
	<%= sanitize @col2 %>
</div>
<div class=" grid_6 ">
	<%= sanitize @col3 %>
</div>
<div class=" grid_6  omega">
	<%= sanitize @col4 %>
</div>
<%-end-%>