
<div id="resumeLeft">
	<div id="personalInformations">
		Name: Yannick Schutz<br/>
		Address: Rue de Campine 160/3<br/>
		4000 Liège - Belgium<br/>
		Tel: +32(0)487/029431<br/>
		Email:i@eatcupcak.es<br/>
		Birthday: 28/03/1984
	</div>
	<div id="summary"></div>
	<div id="skills"></div>
</div>
<div id="experience"></div>
<div id="education"></div>